<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.david.user.sealseeksee">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_title1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="fbf43d96d651c17db0a80e2eec63e050" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKgm5ZnJWd-M0DTSMHBZk7JNrM3qXBZIs" />
        <meta-data android:name="19327da43293b1dce56da3a83829ccaf434bb68ef83ab61a2dca61d3bb15f2be" android:value="true" />

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LetterMainActivity" />
        <activity android:name=".TrackingLetter" />
        <activity android:name=".MainViewActivity"></activity>

        <receiver android:name="com.igaworks.v2.core.AbxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>